<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dmdemo.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.example.dmdemo.bean.UserInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="BIGINT" property="age"/>
    </resultMap>
    <sql id="Base_Column_List">
         id, name ,age
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        select "id","name","age" from "temtest"."user_info";
    </select>

</mapper>